<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.EduPhysicalMapper">
    
    <resultMap type="EduPhysical" id="EduPhysicalResult">
        <result property="id"    column="id"    />
        <result property="batchId"    column="batch_id"    />
        <result property="physicalDate"    column="physical_date"    />
        <result property="goodsCode"    column="goods_code"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="deliveryTotal"    column="delivery_total"    />
        <result property="pulletNum"    column="pullet_num"    />
        <result property="pieceNum"    column="piece_num"    />
        <result property="warmArea"    column="warm_area"    />
    </resultMap>

    <sql id="selectEduPhysicalVo">
        select id, batch_id, physical_date, goods_code, goods_name, delivery_total, pullet_num, piece_num, warm_area from edu_physical
    </sql>

    <select id="selectEduPhysicalList" parameterType="EduPhysical" resultMap="EduPhysicalResult">
        <include refid="selectEduPhysicalVo"/>
        <where>  
            <if test="batchId != null "> and batch_id = #{batchId}</if>
            <if test="physicalDate != null "> and physical_date = #{physicalDate}</if>
            <if test="goodsCode != null  and goodsCode != ''"> and goods_code = #{goodsCode}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="deliveryTotal != null "> and delivery_total = #{deliveryTotal}</if>
            <if test="pulletNum != null "> and pullet_num = #{pulletNum}</if>
            <if test="pieceNum != null "> and piece_num = #{pieceNum}</if>
            <if test="warmArea != null  and warmArea != ''"> and warm_area = #{warmArea}</if>
        </where>
    </select>
    
    <select id="selectEduPhysicalById" parameterType="Long" resultMap="EduPhysicalResult">
        <include refid="selectEduPhysicalVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEduPhysical" parameterType="EduPhysical" useGeneratedKeys="true" keyProperty="id">
        insert into edu_physical
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchId != null">batch_id,</if>
            <if test="physicalDate != null">physical_date,</if>
            <if test="goodsCode != null">goods_code,</if>
            <if test="goodsName != null">goods_name,</if>
            <if test="deliveryTotal != null">delivery_total,</if>
            <if test="pulletNum != null">pullet_num,</if>
            <if test="pieceNum != null">piece_num,</if>
            <if test="warmArea != null">warm_area,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="batchId != null">#{batchId},</if>
            <if test="physicalDate != null">#{physicalDate},</if>
            <if test="goodsCode != null">#{goodsCode},</if>
            <if test="goodsName != null">#{goodsName},</if>
            <if test="deliveryTotal != null">#{deliveryTotal},</if>
            <if test="pulletNum != null">#{pulletNum},</if>
            <if test="pieceNum != null">#{pieceNum},</if>
            <if test="warmArea != null">#{warmArea},</if>
         </trim>
    </insert>

    <update id="updateEduPhysical" parameterType="EduPhysical">
        update edu_physical
        <trim prefix="SET" suffixOverrides=",">
            <if test="batchId != null">batch_id = #{batchId},</if>
            <if test="physicalDate != null">physical_date = #{physicalDate},</if>
            <if test="goodsCode != null">goods_code = #{goodsCode},</if>
            <if test="goodsName != null">goods_name = #{goodsName},</if>
            <if test="deliveryTotal != null">delivery_total = #{deliveryTotal},</if>
            <if test="pulletNum != null">pullet_num = #{pulletNum},</if>
            <if test="pieceNum != null">piece_num = #{pieceNum},</if>
            <if test="warmArea != null">warm_area = #{warmArea},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEduPhysicalById" parameterType="Long">
        delete from edu_physical where id = #{id}
    </delete>

    <delete id="deleteEduPhysicalByIds" parameterType="String">
        delete from edu_physical where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="insertEduPhysicalList" parameterType="EduPhysical" >
        insert into edu_physical(batch_id,physical_date,goods_code,goods_name,delivery_total,pullet_num,piece_num,warm_area)
        values
        <foreach item="eduPhysical" collection="list" separator=",">
            (#{eduPhysical.batchId},#{eduPhysical.physicalDate},#{eduPhysical.goodsCode},#{eduPhysical.goodsName},#{eduPhysical.deliveryTotal},#{eduPhysical.pulletNum},#{eduPhysical.pieceNum},#{eduPhysical.warmArea})
        </foreach>
    </insert>
    <delete id="deleteEduPhysicalByUserId" parameterType="Long">
        delete from edu_physical where batch_id = #{userId}
    </delete>
</mapper>