<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.GlcDeliveryMapper">
    
    <resultMap type="GlcDelivery" id="GlcDeliveryResult">
        <result property="id"    column="id"    />
        <result property="batchId"    column="batch_id"    />
        <result property="factoryCode"    column="factory_code"    />
        <result property="customerCode"    column="customer_code"    />
        <result property="shipToParty"    column="ship_to_party"    />
        <result property="deliveryDate"    column="delivery_date"    />
        <result property="orderCode"    column="order_code"    />
        <result property="goodsCode"    column="goods_code"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="stockPrice"    column="stock_price"    />
        <result property="goodsNum"    column="goods_num"    />
        <result property="unitName"    column="unit_name"    />
        <result property="unitCode"    column="unit_code"    />
        <result property="goodsNum1"    column="goods_num1"    />
        <result property="goodsNum2"    column="goods_num2"    />
        <result property="specification"    column="specification"    />
        <result property="classify1"    column="classify_1"    />
        <result property="classify2"    column="classify_2"    />
        <result property="classify3"    column="classify_3"    />
        <result property="palletCapacity"    column="pallet_capacity"    />
    </resultMap>

    <sql id="selectGlcDeliveryVo">
        select id, batch_id, factory_code, customer_code, ship_to_party, delivery_date, order_code, goods_code, goods_name, stock_price, goods_num, unit_name, unit_code, goods_num1, goods_num2, specification, classify_1, classify_2, classify_3, pallet_capacity from glc_delivery
    </sql>

    <select id="selectGlcDeliveryList" parameterType="GlcDelivery" resultMap="GlcDeliveryResult">
        <include refid="selectGlcDeliveryVo"/>
        <where>  
            <if test="batchId != null "> and batch_id = #{batchId}</if>
            <if test="factoryCode != null  and factoryCode != ''"> and factory_code = #{factoryCode}</if>
            <if test="customerCode != null  and customerCode != ''"> and customer_code = #{customerCode}</if>
            <if test="shipToParty != null  and shipToParty != ''"> and ship_to_party = #{shipToParty}</if>
            <if test="deliveryDate != null "> and delivery_date = #{deliveryDate}</if>
            <if test="orderCode != null  and orderCode != ''"> and order_code = #{orderCode}</if>
            <if test="goodsCode != null  and goodsCode != ''"> and goods_code = #{goodsCode}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="stockPrice != null "> and stock_price = #{stockPrice}</if>
            <if test="goodsNum != null "> and goods_num = #{goodsNum}</if>
            <if test="unitName != null  and unitName != ''"> and unit_name like concat('%', #{unitName}, '%')</if>
            <if test="unitCode != null  and unitCode != ''"> and unit_code = #{unitCode}</if>
            <if test="goodsNum1 != null "> and goods_num1 = #{goodsNum1}</if>
            <if test="goodsNum2 != null "> and goods_num2 = #{goodsNum2}</if>
            <if test="specification != null "> and specification = #{specification}</if>
            <if test="classify1 != null  and classify1 != ''"> and classify_1 = #{classify1}</if>
            <if test="classify2 != null  and classify2 != ''"> and classify_2 = #{classify2}</if>
            <if test="classify3 != null  and classify3 != ''"> and classify_3 = #{classify3}</if>
            <if test="palletCapacity != null "> and pallet_capacity = #{palletCapacity}</if>
        </where>
    </select>
    
    <select id="selectGlcDeliveryById" parameterType="Long" resultMap="GlcDeliveryResult">
        <include refid="selectGlcDeliveryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGlcDelivery" parameterType="GlcDelivery" useGeneratedKeys="true" keyProperty="id">
        insert into glc_delivery
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchId != null">batch_id,</if>
            <if test="factoryCode != null and factoryCode != ''">factory_code,</if>
            <if test="customerCode != null and customerCode != ''">customer_code,</if>
            <if test="shipToParty != null and shipToParty != ''">ship_to_party,</if>
            <if test="deliveryDate != null">delivery_date,</if>
            <if test="orderCode != null and orderCode != ''">order_code,</if>
            <if test="goodsCode != null and goodsCode != ''">goods_code,</if>
            <if test="goodsName != null and goodsName != ''">goods_name,</if>
            <if test="stockPrice != null">stock_price,</if>
            <if test="goodsNum != null">goods_num,</if>
            <if test="unitName != null and unitName != ''">unit_name,</if>
            <if test="unitCode != null and unitCode != ''">unit_code,</if>
            <if test="goodsNum1 != null">goods_num1,</if>
            <if test="goodsNum2 != null">goods_num2,</if>
            <if test="specification != null">specification,</if>
            <if test="classify1 != null and classify1 != ''">classify_1,</if>
            <if test="classify2 != null and classify2 != ''">classify_2,</if>
            <if test="classify3 != null and classify3 != ''">classify_3,</if>
            <if test="palletCapacity != null">pallet_capacity,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="batchId != null">#{batchId},</if>
            <if test="factoryCode != null and factoryCode != ''">#{factoryCode},</if>
            <if test="customerCode != null and customerCode != ''">#{customerCode},</if>
            <if test="shipToParty != null and shipToParty != ''">#{shipToParty},</if>
            <if test="deliveryDate != null">#{deliveryDate},</if>
            <if test="orderCode != null and orderCode != ''">#{orderCode},</if>
            <if test="goodsCode != null and goodsCode != ''">#{goodsCode},</if>
            <if test="goodsName != null and goodsName != ''">#{goodsName},</if>
            <if test="stockPrice != null">#{stockPrice},</if>
            <if test="goodsNum != null">#{goodsNum},</if>
            <if test="unitName != null and unitName != ''">#{unitName},</if>
            <if test="unitCode != null and unitCode != ''">#{unitCode},</if>
            <if test="goodsNum1 != null">#{goodsNum1},</if>
            <if test="goodsNum2 != null">#{goodsNum2},</if>
            <if test="specification != null">#{specification},</if>
            <if test="classify1 != null and classify1 != ''">#{classify1},</if>
            <if test="classify2 != null and classify2 != ''">#{classify2},</if>
            <if test="classify3 != null and classify3 != ''">#{classify3},</if>
            <if test="palletCapacity != null">#{palletCapacity},</if>
         </trim>
    </insert>

    <update id="updateGlcDelivery" parameterType="GlcDelivery">
        update glc_delivery
        <trim prefix="SET" suffixOverrides=",">
            <if test="batchId != null">batch_id = #{batchId},</if>
            <if test="factoryCode != null and factoryCode != ''">factory_code = #{factoryCode},</if>
            <if test="customerCode != null and customerCode != ''">customer_code = #{customerCode},</if>
            <if test="shipToParty != null and shipToParty != ''">ship_to_party = #{shipToParty},</if>
            <if test="deliveryDate != null">delivery_date = #{deliveryDate},</if>
            <if test="orderCode != null and orderCode != ''">order_code = #{orderCode},</if>
            <if test="goodsCode != null and goodsCode != ''">goods_code = #{goodsCode},</if>
            <if test="goodsName != null and goodsName != ''">goods_name = #{goodsName},</if>
            <if test="stockPrice != null">stock_price = #{stockPrice},</if>
            <if test="goodsNum != null">goods_num = #{goodsNum},</if>
            <if test="unitName != null and unitName != ''">unit_name = #{unitName},</if>
            <if test="unitCode != null and unitCode != ''">unit_code = #{unitCode},</if>
            <if test="goodsNum1 != null">goods_num1 = #{goodsNum1},</if>
            <if test="goodsNum2 != null">goods_num2 = #{goodsNum2},</if>
            <if test="specification != null">specification = #{specification},</if>
            <if test="classify1 != null and classify1 != ''">classify_1 = #{classify1},</if>
            <if test="classify2 != null and classify2 != ''">classify_2 = #{classify2},</if>
            <if test="classify3 != null and classify3 != ''">classify_3 = #{classify3},</if>
            <if test="palletCapacity != null">pallet_capacity = #{palletCapacity},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGlcDeliveryById" parameterType="Long">
        delete from glc_delivery where id = #{id}
    </delete>

    <delete id="deleteGlcDeliveryByIds" parameterType="String">
        delete from glc_delivery where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertGlcDeliveryList" parameterType="GlcDelivery" >
        insert into glc_delivery(batch_id,factory_code,customer_code,ship_to_party,delivery_date,order_code,goods_code,goods_name,stock_price,goods_num,unit_name,unit_code,goods_num1,goods_num2,specification,classify_1,classify_2,classify_3,pallet_capacity)
        values
        <foreach item="GlcDelivery" collection="list" separator=",">
            (#{GlcDelivery.batchId},#{GlcDelivery.factoryCode},#{GlcDelivery.customerCode},#{GlcDelivery.shipToParty},#{GlcDelivery.deliveryDate},#{GlcDelivery.orderCode},#{GlcDelivery.goodsCode},#{GlcDelivery.goodsName},#{GlcDelivery.stockPrice},#{GlcDelivery.goodsNum},#{GlcDelivery.unitName},#{GlcDelivery.unitCode},#{GlcDelivery.goodsNum1},#{GlcDelivery.goodsNum2},#{GlcDelivery.specification},#{GlcDelivery.classify1},#{GlcDelivery.classify2},#{GlcDelivery.classify3},#{GlcDelivery.palletCapacity})
        </foreach>
    </insert>
    <delete id="deleteGlcDeliveryByUserId" parameterType="Long">
        delete from glc_delivery where batch_id = #{userId}
    </delete>

    <select id="getEIQOrderI" parameterType="Long" resultType="com.ruoyi.system.domain.EduEIQ">
      select  DATE_FORMAT(t.delivery_date,'%Y-%m-%d') as 'date',count(distinct(t.goods_name)) as 'category_number'
     from glc_delivery t
      WHERE
        t.batch_id = #{userId}
     group by  DATE_FORMAT(t.delivery_date,'%Y-%m-%d')
    </select>
    <select id="getEIQOrderEI" parameterType="Long" resultType="com.ruoyi.system.domain.EduEIQ">
      select  (@i:=@i+1) as 'anInt', a.order_code as 'order_code',count(distinct(a.goods_name)) as 'category_number'
    from glc_delivery a
     WHERE
       a.batch_id = #{userId}
    group by a.order_code
    order by count(distinct(a.goods_name)) desc
    </select>

    <select id="getEIQOrderE" parameterType="Long" resultType="com.ruoyi.system.domain.EduEIQ">
  select  DATE_FORMAT(t.delivery_date,'%Y-%m-%d') as 'date',count(distinct(t.order_code)) as 'order_num'
from glc_delivery t
    WHERE
        t.batch_id = #{userId}
group by  DATE_FORMAT(t.delivery_date,'%Y-%m-%d')
    </select>
    <select id="getEIQOrderN" parameterType="Long" resultType="com.ruoyi.system.domain.EduEIQ">
select  DATE_FORMAT(t.delivery_date,'%Y-%m-%d') as 'date',count(t.order_code) as 'order_num1'
from glc_delivery t
    WHERE
        t.batch_id = #{userId}
group by  DATE_FORMAT(t.delivery_date,'%Y-%m-%d')
    </select>
    <select id="getEIQOrderE1" parameterType="Long" resultType="com.ruoyi.system.domain.EduEIQ">
select  DATE_FORMAT(t.delivery_date,'%Y-%m-%d') as 'date',count(t.order_code) as 'order_num1'
from edu_delivery t
    WHERE
        t.batch_id = #{userId}
group by  DATE_FORMAT(t.delivery_date,'%H%m%d')
    </select>
    <select id="getEIQOrderEN" parameterType="Long" resultType="com.ruoyi.system.domain.EduEIQ">
  select  a.order_code as 'order_code',count(a.order_code) as 'times'
   from glc_delivery a
       WHERE
        a.batch_id = #{userId}
   group by a.order_code
   order by count(a.order_code) desc
    </select>
    <select id="getEIQOrderEN1" parameterType="Long" resultType="com.ruoyi.system.domain.EduEIQ">
  select  a.order_code as 'order_code',count(a.order_code) as 'times'
   from edu_delivery a
       WHERE
        a.batch_id = #{userId}
   group by a.order_code
   order by count(a.order_code) desc
    </select>
    <select id="getEIQOrderEN2" parameterType="Long" resultType="com.ruoyi.system.domain.EduEIQ">
  select  a.order_code as 'order_code',count( a.order_code) as 'times'
   from edu_delivery a
       WHERE
        a.batch_id = #{userId}
   group by a.order_code
   order by times desc
    </select>
    <select id="getEIQOrderENHist" parameterType="Long" resultType="com.ruoyi.system.domain.EduEIQ">
     select a.goods_code as 'goods_code',count(a.order_code) as 'order_num'  from (select order_code, count(goods_code) as 'goods_num'
     from edu_delivery
where batch_id = #{batch_id}
group by order_code
order by count(goods_code) desc)a
group by a.goods_code
    </select>
    <select id="getEIQOrderQ" parameterType="Long" resultType="com.ruoyi.system.domain.EduEIQ">
select  DATE_FORMAT(t.delivery_date,'%Y-%m-%d') as 'date',sum(t.goods_num) as 'total_num',sum(floor(t.goods_num)) as 'delivery_num'
from glc_delivery t
    WHERE
        t.batch_id = #{userId}
group by  DATE_FORMAT(t.delivery_date,'%Y-%m-%d')
    </select>
    <select id="getEIQOrderEQ" parameterType="Long" resultType="com.ruoyi.system.domain.EduEIQ">
  select  a.order_code as 'order_code',sum(a.goods_num) as 'total_num'
   from glc_delivery a
    WHERE
        a.batch_id = #{userId}
   group by a.order_code
   order by sum(a.goods_num) desc
    </select>
    <select id="getEIQOrderEQ1" parameterType="Long" resultType="com.ruoyi.system.domain.EduEIQ">
  select  a.order_code as 'order_code',sum(a.goods_num) as 'total_num'
   from edu_delivery a
    WHERE
        a.batch_id = #{userId}
   group by a.order_code
   order by sum(a.goods_num) desc
    </select>
    <select id="getEIQOrderEQHist" parameterType="Long" resultType="com.ruoyi.system.domain.EduEIQ">
    select a.goods_num as 'goods_num',count(order_code) as 'order_num'  from(select order_code,round(sum(piece_num),1) as 'goods_num'
from edu_delivery
where batch_id =#{batch_id}
group by order_code)a
group by a.goods_num
    </select>
    <select id="getEIQOrderIK" parameterType="Long" resultType="com.ruoyi.system.domain.EduEIQ">
    select  a.goods_name as 'goods_name',count(a.goods_name) as 'times'
   from glc_delivery a
    WHERE
        a.batch_id = #{userId}
   group by a.goods_name
   order by count(a.goods_name) desc
    </select>
    <select id="getEIQOrderIQ" parameterType="Long" resultType="com.ruoyi.system.domain.EduEIQ">
   select  a.goods_code as 'goods_code',sum(a.goods_num)as 'total_num'
        from glc_delivery a
            WHERE
        a.batch_id = #{userId}
        group by a.goods_code
        order by sum(a.goods_num) DESC
    </select>
    <select id="getCustomerOrder" parameterType="Long" resultType="com.ruoyi.system.domain.EduEIQ">
select a.customer_code as 'date',count(a.order_code) as 'order_num'  from (select order_code as 'order_code',customer_code as 'customer_code'
from edu_delivery
where batch_id = #{batch_id}
group by order_code)a
group by a.customer_code
order by count(a.order_code) desc
    </select>
    <select id="getABCCount" parameterType="Long" resultType="com.ruoyi.system.domain.EduABC">
   select a.goods_name as 'goods_name',a.goods_code as 'goods_code',a.stock_price as 'stock_price' ,sum(ceil(ceil(a.goods_num/a.specification)/a.pallet_capacity)) AS 'total_delivery', count(distinct(a.delivery_date)) AS 'data',a.specification AS 'specification'
   from glc_delivery a
   where a.batch_id = #{userId}
   group by a.goods_name
    </select>

    <select id="getABCFrequency" parameterType="Long" resultType="com.ruoyi.system.domain.EduABC">
   	select t1.goods_name as 'goods_name',t1.goods_code as 'goods_code',count(t1.goods_name) as 'delivery_frequency'
		from glc_delivery t1
		 WHERE t1.batch_id = #{userId}
		group by t1.goods_name
    </select>

    <select id="selectABCQuantity" parameterType="Long" resultType="com.ruoyi.system.domain.EduABC">
        select a.goods_name as 'goods_name',goods_code as 'goods_code',sum(a.goods_num) as 'delivery_quantity'
        from glc_delivery a
        where a.batch_id =#{userId}
        group by a.goods_code
    </select>

    <select id="selectEduEOQ" parameterType="Long" resultType="com.ruoyi.system.domain.EduEOQ">
              select a.goods_name as 'goods_name',a.stock_price as 'stock_price',sum(a.goods_num) as 'total_delivery'
       from glc_delivery a
        WHERE
        a.batch_id = #{userId}
       group by a.goods_code
    </select>
    <select id="selectReceivingList" parameterType="Long" resultType="com.ruoyi.system.domain.EduPCB">
select m.goods_code as 'goods_code',m.goods_name as 'goods_name',m.specification as 'specification',m.pallet_capacity as 'pallet_capacity',m.num as 'goods_num2',m.goods_num1 as 'goods_num1',m.pallet_num as 'pallet_num',m.cases_num3 as 'cases_num3',floor(m.goods_num2/m.pallet_capacity) as 'pallet_num1',round(m.num-(floor(m.goods_num1)*m.specification),2) as 'cases_num2' from(select goods_code as 'goods_code',sum(goods_num) as 'num',round(sum(goods_num)/specification,2) as 'goods_num1',floor(round(sum(goods_num)/specification,2)/pallet_capacity) as 'pallet_num',floor(round(sum(goods_num)/specification,2)) as 'cases_num3',specification,goods_name,pallet_capacity,goods_num2
from glc_delivery
where batch_id = #{userId}
group by goods_code)m
    </select>
    <select id="selectDeliveryListByGoodsName" parameterType="java.util.HashMap" resultType="com.ruoyi.system.domain.EduPCB">
select a.goods_code as 'goods_code',a.goods_name as 'goods_name',a.goods_num as 'num',a.goods_num/t1.specification as 'unit_cases',floor(a.goods_num/t1.specification/t1.pallet_capacity) as 'pallet_num',floor(floor(a.goods_num-floor(a.goods_num/t1.specification/t1.pallet_capacity)*t1.pallet_capacity*t1.specification)/t1.specification) as 'cases_num3',
	 a.goods_num - floor(a.goods_num/t1.specification/t1.pallet_capacity)*t1.pallet_capacity*t1.specification-floor(floor(a.goods_num-floor(a.goods_num/t1.specification/t1.pallet_capacity)*t1.pallet_capacity*t1.specification)/t1.specification)*t1.specification as 'cases_num2',t1.specification,t1.pallet_capacity
        from glc_delivery a left join (select t.* from glc_delivery t group by t.goods_name ) t1 on a.goods_name=t1.goods_name
        WHERE a.goods_name =  #{goods_name} AND
        a.batch_id = #{userId} limit 1
    </select>

    <select id="getEduEn1" parameterType="java.util.HashMap" resultType="com.ruoyi.system.domain.EduEIQ">
   select CEILING(a.num) as 'times'
   from (select order_code as 'order_code' ,count(order_code) as 'num' from edu_delivery where batch_id = #{userId}
        group by order_code)a
    </select>
    <select id="getEduEn2" parameterType="java.util.HashMap" resultType="com.ruoyi.system.domain.EduEIQ">
    select CEILING(a.num) as 'times' from (select order_code as 'order_code' ,count(order_code) as 'num' from edu_receiving where batch_id = #{userId}
        group by order_code)a
    </select>

    <select id="getEduEq1" parameterType="java.util.HashMap" resultType="com.ruoyi.system.domain.EduEIQ">
        select round(sum(pullet_num),1) as 'times'
from edu_delivery
where batch_id = #{userId}
group by order_code
order by times desc
    </select>

    <select id="getEduEq2" parameterType="java.util.HashMap" resultType="com.ruoyi.system.domain.EduEIQ">
     select CEILING(a.goods_num)  as 'times' from (select order_code as 'order_code' ,sum(pullet_num) as 'goods_num'
      from edu_receiving where batch_id = #{userId}
        group by order_code)a
    </select>
</mapper>