<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.network.mapper.EduReportMapper">
    
    <resultMap type="EduReport" id="EduReportResult">
        <result property="id"    column="id"    />
        <result property="batchId"    column="batch_id"    />
        <result property="title"    column="title"    />
        <result property="img"    column="img"    />
        <result property="classes"    column="classes"    />
        <result property="type"    column="type"    />
        <result property="feature"    column="feature"    />
        <result property="featureProperty1"    column="feature_property1"    />
        <result property="featureProperty2"    column="feature_property2"    />
        <result property="featureProperty3"    column="feature_property3"    />
        <result property="featureProperty4"    column="feature_property4"    />
        <result property="issue"    column="issue"    />
        <result property="issueProperty1"    column="issue_property1"    />
        <result property="issueProperty2"    column="issue_property2"    />
        <result property="issueProperty3"    column="issue_property3"    />
        <result property="issueProperty4"    column="issue_property4"    />
        <result property="variable"    column="variable"    />
        <result property="advice"    column="advice"    />
        <result property="adviceProperty1"    column="advice_property1"    />
        <result property="adviceProperty2"    column="advice_property2"    />
        <result property="adviceProperty3"    column="advice_property3"    />
        <result property="adviceProperty4"    column="advice_property4"    />
        <result property="strategy"    column="strategy"    />
        <result property="strategyProperty1"    column="strategy_property1"    />
        <result property="strategyProperty2"    column="strategy_property2"    />
        <result property="strategyProperty3"    column="strategy_property3"    />
        <result property="strategyProperty4"    column="strategy_property4"    />
    </resultMap>

    <sql id="selectEduReportVo">
        select id, batch_id, title, img, classes, type, feature, feature_property1, feature_property2, feature_property3, feature_property4, issue, issue_property1, issue_property2, issue_property3, issue_property4, variable, advice, advice_property1, advice_property2, advice_property3, advice_property4, strategy, strategy_property1, strategy_property2, strategy_property3, strategy_property4 from edu_report
    </sql>

    <select id="selectEduReportList" parameterType="EduReport" resultMap="EduReportResult">
        <include refid="selectEduReportVo"/>
        <where>  
            <if test="batchId != null "> and batch_id = #{batchId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="img != null  and img != ''"> and img = #{img}</if>
            <if test="classes != null  and classes != ''"> and classes = #{classes}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="feature != null  and feature != ''"> and feature = #{feature}</if>
            <if test="featureProperty1 != null  and featureProperty1 != ''"> and feature_property1 = #{featureProperty1}</if>
            <if test="featureProperty2 != null  and featureProperty2 != ''"> and feature_property2 = #{featureProperty2}</if>
            <if test="featureProperty3 != null  and featureProperty3 != ''"> and feature_property3 = #{featureProperty3}</if>
            <if test="featureProperty4 != null  and featureProperty4 != ''"> and feature_property4 = #{featureProperty4}</if>
            <if test="issue != null  and issue != ''"> and issue = #{issue}</if>
            <if test="issueProperty1 != null  and issueProperty1 != ''"> and issue_property1 = #{issueProperty1}</if>
            <if test="issueProperty2 != null  and issueProperty2 != ''"> and issue_property2 = #{issueProperty2}</if>
            <if test="issueProperty3 != null  and issueProperty3 != ''"> and issue_property3 = #{issueProperty3}</if>
            <if test="issueProperty4 != null  and issueProperty4 != ''"> and issue_property4 = #{issueProperty4}</if>
            <if test="variable != null  and variable != ''"> and variable = #{variable}</if>
            <if test="advice != null  and advice != ''"> and advice = #{advice}</if>
            <if test="adviceProperty1 != null  and adviceProperty1 != ''"> and advice_property1 = #{adviceProperty1}</if>
            <if test="adviceProperty2 != null  and adviceProperty2 != ''"> and advice_property2 = #{adviceProperty2}</if>
            <if test="adviceProperty3 != null  and adviceProperty3 != ''"> and advice_property3 = #{adviceProperty3}</if>
            <if test="adviceProperty4 != null  and adviceProperty4 != ''"> and advice_property4 = #{adviceProperty4}</if>
            <if test="strategy != null  and strategy != ''"> and strategy = #{strategy}</if>
            <if test="strategyProperty1 != null  and strategyProperty1 != ''"> and strategy_property1 = #{strategyProperty1}</if>
            <if test="strategyProperty2 != null  and strategyProperty2 != ''"> and strategy_property2 = #{strategyProperty2}</if>
            <if test="strategyProperty3 != null  and strategyProperty3 != ''"> and strategy_property3 = #{strategyProperty3}</if>
            <if test="strategyProperty4 != null  and strategyProperty4 != ''"> and strategy_property4 = #{strategyProperty4}</if>
        </where>
    </select>
    
    <select id="selectEduReportById" parameterType="Long" resultMap="EduReportResult">
        <include refid="selectEduReportVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEduReport" parameterType="EduReport" useGeneratedKeys="true" keyProperty="id">
        insert into edu_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchId != null">batch_id,</if>
            <if test="title != null">title,</if>
            <if test="img != null">img,</if>
            <if test="classes != null">classes,</if>
            <if test="type != null">type,</if>
            <if test="feature != null">feature,</if>
            <if test="featureProperty1 != null">feature_property1,</if>
            <if test="featureProperty2 != null">feature_property2,</if>
            <if test="featureProperty3 != null">feature_property3,</if>
            <if test="featureProperty4 != null">feature_property4,</if>
            <if test="issue != null">issue,</if>
            <if test="issueProperty1 != null">issue_property1,</if>
            <if test="issueProperty2 != null">issue_property2,</if>
            <if test="issueProperty3 != null">issue_property3,</if>
            <if test="issueProperty4 != null">issue_property4,</if>
            <if test="variable != null">variable,</if>
            <if test="advice != null">advice,</if>
            <if test="adviceProperty1 != null">advice_property1,</if>
            <if test="adviceProperty2 != null">advice_property2,</if>
            <if test="adviceProperty3 != null">advice_property3,</if>
            <if test="adviceProperty4 != null">advice_property4,</if>
            <if test="strategy != null">strategy,</if>
            <if test="strategyProperty1 != null">strategy_property1,</if>
            <if test="strategyProperty2 != null">strategy_property2,</if>
            <if test="strategyProperty3 != null">strategy_property3,</if>
            <if test="strategyProperty4 != null">strategy_property4,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="batchId != null">#{batchId},</if>
            <if test="title != null">#{title},</if>
            <if test="img != null">#{img},</if>
            <if test="classes != null">#{classes},</if>
            <if test="type != null">#{type},</if>
            <if test="feature != null">#{feature},</if>
            <if test="featureProperty1 != null">#{featureProperty1},</if>
            <if test="featureProperty2 != null">#{featureProperty2},</if>
            <if test="featureProperty3 != null">#{featureProperty3},</if>
            <if test="featureProperty4 != null">#{featureProperty4},</if>
            <if test="issue != null">#{issue},</if>
            <if test="issueProperty1 != null">#{issueProperty1},</if>
            <if test="issueProperty2 != null">#{issueProperty2},</if>
            <if test="issueProperty3 != null">#{issueProperty3},</if>
            <if test="issueProperty4 != null">#{issueProperty4},</if>
            <if test="variable != null">#{variable},</if>
            <if test="advice != null">#{advice},</if>
            <if test="adviceProperty1 != null">#{adviceProperty1},</if>
            <if test="adviceProperty2 != null">#{adviceProperty2},</if>
            <if test="adviceProperty3 != null">#{adviceProperty3},</if>
            <if test="adviceProperty4 != null">#{adviceProperty4},</if>
            <if test="strategy != null">#{strategy},</if>
            <if test="strategyProperty1 != null">#{strategyProperty1},</if>
            <if test="strategyProperty2 != null">#{strategyProperty2},</if>
            <if test="strategyProperty3 != null">#{strategyProperty3},</if>
            <if test="strategyProperty4 != null">#{strategyProperty4},</if>
         </trim>
    </insert>

    <update id="updateEduReport" parameterType="EduReport">
        update edu_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="batchId != null">batch_id = #{batchId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="img != null">img = #{img},</if>
            <if test="classes != null">classes = #{classes},</if>
            <if test="type != null">type = #{type},</if>
            <if test="feature != null">feature = #{feature},</if>
            <if test="featureProperty1 != null">feature_property1 = #{featureProperty1},</if>
            <if test="featureProperty2 != null">feature_property2 = #{featureProperty2},</if>
            <if test="featureProperty3 != null">feature_property3 = #{featureProperty3},</if>
            <if test="featureProperty4 != null">feature_property4 = #{featureProperty4},</if>
            <if test="issue != null">issue = #{issue},</if>
            <if test="issueProperty1 != null">issue_property1 = #{issueProperty1},</if>
            <if test="issueProperty2 != null">issue_property2 = #{issueProperty2},</if>
            <if test="issueProperty3 != null">issue_property3 = #{issueProperty3},</if>
            <if test="issueProperty4 != null">issue_property4 = #{issueProperty4},</if>
            <if test="variable != null">variable = #{variable},</if>
            <if test="advice != null">advice = #{advice},</if>
            <if test="adviceProperty1 != null">advice_property1 = #{adviceProperty1},</if>
            <if test="adviceProperty2 != null">advice_property2 = #{adviceProperty2},</if>
            <if test="adviceProperty3 != null">advice_property3 = #{adviceProperty3},</if>
            <if test="adviceProperty4 != null">advice_property4 = #{adviceProperty4},</if>
            <if test="strategy != null">strategy = #{strategy},</if>
            <if test="strategyProperty1 != null">strategy_property1 = #{strategyProperty1},</if>
            <if test="strategyProperty2 != null">strategy_property2 = #{strategyProperty2},</if>
            <if test="strategyProperty3 != null">strategy_property3 = #{strategyProperty3},</if>
            <if test="strategyProperty4 != null">strategy_property4 = #{strategyProperty4},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEduReportById" parameterType="Long">
        delete from edu_report where id = #{id}
    </delete>

    <delete id="deleteEduReportByIds" parameterType="String">
        delete from edu_report where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectEduReportByBatchId" parameterType="java.util.HashMap" resultMap="EduReportResult">
 SELECT * from edu_report where batch_id = #{batchId} and title = #{title}
    </select>
    <select id="getgetReportByTitle" parameterType="java.util.HashMap" resultMap="EduReportResult">
     SELECT * from edu_report where batch_id = #{batchId} and title = #{title}
    </select>
    <insert id="inserReport" parameterType="java.util.HashMap">
        insert into edu_report(batch_id,user_id,title,img,type,classes,feature,feature_property1,feature_property2,feature_property3,feature_property4,issue,issue_property1,issue_property2,issue_property3,issue_property4,variable,advice,advice_property1,advice_property2,advice_property3,advice_property4,strategy,strategy_property1,strategy_property2,strategy_property3,strategy_property4)
        values(#{batchId},#{userId},#{title},#{img},#{type},#{classes},#{feature},#{feature_property1},#{feature_property2},#{feature_property3},#{feature_property4},#{issue},#{issue_property1},#{issue_property2},#{issue_property3},#{issue_property4},#{variable},#{advice},#{advice_property1},#{advice_property2},#{advice_property3},#{advice_property4},#{strategy},#{strategy_property1},#{strategy_property2},#{strategy_property3},#{strategy_property4})
    </insert>
    <update id="updateReport" parameterType="java.util.HashMap">
         update edu_report set img = #{img},type = #{type},classes = #{classes},feature = #{feature},feature_property1=#{feature_property1},feature_property2=#{feature_property2},feature_property3= #{feature_property3},feature_property4=#{feature_property4},issue=#{issue},issue_property1=#{issue_property1},issue_property2=#{issue_property2},issue_property3=#{issue_property3},issue_property4=#{issue_property4},variable=#{variable},advice=#{advice},advice_property1=#{advice_property1},advice_property2=#{advice_property2},advice_property3=#{advice_property3},advice_property4=#{advice_property4},strategy=#{strategy},strategy_property1=#{strategy_property1},strategy_property2=#{strategy_property2},strategy_property3=#{strategy_property3},strategy_property4=#{strategy_property4}
         where batch_id =#{batchId} and title=#{title}
    </update>
    <select id="getReports" parameterType="java.util.HashMap" resultMap="EduReportResult">
      SELECT * from edu_report where batch_id = #{batchId} and user_id = #{userId}
    </select>
    <select id="getReports1" parameterType="java.util.HashMap" resultMap="EduReportResult">
      SELECT * from edu_report where batch_id = #{batchId} and user_id = '0'
    </select>
</mapper>