<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.network.mapper.RoleProjectMapper">
    
    <resultMap type="RoleProject" id="RoleProjectResult">
        <result property="id"    column="id"    />
        <result property="roleId"    column="role_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectRoleProjectVo">
        select id, role_id, project_id, create_time from role_project
    </sql>

    <select id="selectRoleProjectList" parameterType="RoleProject" resultMap="RoleProjectResult">
        <include refid="selectRoleProjectVo"/>
        <where>  
            <if test="roleId != null "> and role_id = #{roleId}</if>
            <if test="projectId != null "> and project_id = #{projectId}</if>
        </where>
    </select>
    
    <select id="selectRoleProjectById" parameterType="Long" resultMap="RoleProjectResult">
        <include refid="selectRoleProjectVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRoleProject" parameterType="RoleProject" useGeneratedKeys="true" keyProperty="id">
        insert into role_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">role_id,</if>
            <if test="projectId != null">project_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">#{roleId},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateRoleProject" parameterType="RoleProject">
        update role_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleId != null">role_id = #{roleId},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRoleProjectById" parameterType="Long">
        delete from role_project where id = #{id}
    </delete>

    <delete id="deleteRoleProjectByIds" parameterType="String">
        delete from role_project where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>