<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.network.mapper.SysOrderMapper">
    
    <resultMap type="SysOrder" id="SysOrderResult">
        <result property="id"    column="id"    />
        <result property="orderCode"    column="order_code"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="openId"    column="open_id"    />
        <result property="producCode"    column="produc_code"    />
        <result property="outTradeNo"    column="out_trade_no"    />
        <result property="account"    column="account"    />
        <result property="createTime"    column="create_time"    />
        <result property="payTime"    column="pay_time"    />
    </resultMap>

    <sql id="selectSysOrderVo">
        select id, order_code, user_id, user_name, open_id, produc_code, out_trade_no, account, create_time, pay_time from sys_order
    </sql>

    <select id="selectSysOrderList" parameterType="SysOrder" resultMap="SysOrderResult">
        <include refid="selectSysOrderVo"/>
        <where>  
            <if test="orderCode != null  and orderCode != ''"> and order_code = #{orderCode}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="openId != null  and openId != ''"> and open_id = #{openId}</if>
            <if test="producCode != null  and producCode != ''"> and produc_code = #{producCode}</if>
            <if test="outTradeNo != null  and outTradeNo != ''"> and out_trade_no = #{outTradeNo}</if>
            <if test="account != null  and account != ''"> and account = #{account}</if>
            <if test="payTime != null "> and pay_time = #{payTime}</if>
        </where>
    </select>
    
    <select id="selectSysOrderById" parameterType="Long" resultMap="SysOrderResult">
        <include refid="selectSysOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysOrder" parameterType="SysOrder" useGeneratedKeys="true" keyProperty="id">
        insert into sys_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderCode != null and orderCode != ''">order_code,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="openId != null and openId != ''">open_id,</if>
            <if test="producCode != null and producCode != ''">produc_code,</if>
            <if test="outTradeNo != null and outTradeNo != ''">out_trade_no,</if>
            <if test="account != null and account != ''">account,</if>
            <if test="createTime != null">create_time,</if>
            <if test="payTime != null">pay_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderCode != null and orderCode != ''">#{orderCode},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="openId != null and openId != ''">#{openId},</if>
            <if test="producCode != null and producCode != ''">#{producCode},</if>
            <if test="outTradeNo != null and outTradeNo != ''">#{outTradeNo},</if>
            <if test="account != null and account != ''">#{account},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="payTime != null">#{payTime},</if>
         </trim>
    </insert>

    <update id="updateSysOrder" parameterType="SysOrder">
        update sys_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderCode != null and orderCode != ''">order_code = #{orderCode},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="openId != null and openId != ''">open_id = #{openId},</if>
            <if test="producCode != null and producCode != ''">produc_code = #{producCode},</if>
            <if test="outTradeNo != null and outTradeNo != ''">out_trade_no = #{outTradeNo},</if>
            <if test="account != null and account != ''">account = #{account},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysOrderById" parameterType="Long">
        delete from sys_order where id = #{id}
    </delete>

    <delete id="deleteSysOrderByIds" parameterType="String">
        delete from sys_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>