<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>登录环球物流规划平台</title>
    <meta name="description" content="环球物流规划平台">
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="../static/css/login.min.css" th:href="@{/css/login.min.css}" rel="stylesheet"/>
    <link href="../static/ruoyi/css/ry-ui.css" th:href="@{/ruoyi/css/ry-ui.css?v=4.6.0}" rel="stylesheet"/>
    <link href="../static/css/index/normalize.css" th:href="@{/css/index/normalize.css}" rel="stylesheet"/>
    <link href="../static/css/index/demo.css" th:href="@{/css/index/demo.css}" rel="stylesheet"/>
    <link href="../static/css/index/component.css" th:href="@{/css/index/component.css}" rel="stylesheet"/>
    <!-- 360浏览器急速模式 -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{favicon.ico}"/>
    <style type="text/css">label.error { position:inherit;  }</style>
    <script>
        if(window.top!==window.self){alert('未登录或登录超时。请重新登录');window.top.location=window.location};
    </script>
    <script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
</head>
<body onload="wxLogin()"  id="page-top">
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <h1 class="main-title">请手机微信扫码登陆</h1>
            <div id="weixin" style="position:absolute; top:30%;left:50%; margin-top:-1%; margin-left:-200px;"></div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>
<!-- 全局js -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- 验证插件 -->
<script src="../static/js/index/TweenLite.min.js" th:src="@{/js/index/TweenLite.min.js}"></script>
<script src="../static/js/index/EasePack.min.js" th:src="@{/js/index/EasePack.min.js}" ></script>
<script src="../static/js/index/rAF.js" th:src="@{/js/index/rAF.js}"></script>
<script src="../static/js/index/demo-1.js" th:src="@{/js/index/demo-1.js}"></script>
<script src="../static/ajax/libs/validate/jquery.validate.min.js" th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
<script src="../static/ajax/libs/validate/messages_zh.min.js" th:src="@{/ajax/libs/validate/messages_zh.min.js}"></script>
<script src="../static/ajax/libs/layer/layer.min.js" th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script src="../static/ajax/libs/blockUI/jquery.blockUI.js" th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script src="../static/ruoyi/js/ry-ui.js" th:src="@{/ruoyi/js/ry-ui.js?v=4.6.0}"></script>
<script src="../static/ruoyi/login.js" th:src="@{/ruoyi/login.js}"></script>
<script  th:inline="javascript">
    window.onload = function () {
        var obj = new WxLogin({
            id: "weixin",//根据id显示位置
            appid: "wxf6c9659d0d77eb14",
            scope: "snsapi_login",//固定值
            redirect_uri: "http://edu.glc360.com/wxlogin"
        });
    }

</script>
</html>